$--color-primary:#1D63D7;

$--font-path: '../node_modules/element-ui/lib/theme-chalk/fonts';
@import "../node_modules/element-ui/packages/theme-chalk/src/index";

.el-textarea__inner {
  padding: 0px;
}